<a href="https://colab.research.google.com/github/mehrotrasan16/CS581-CAN-DO-Project/blob/sanketm-datapreparation/code/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Why are we doing this?
* This dataset is real CAN logs 
* The given format is not right for direct input to models.
* all ml experiments start with cleaning the dataset
* we plan to spend 80% of time understanding the data vs 20% actually modelling and predicting, because of the complexity of the networks and the problem that we're working with.

# Data Preparation

As we know, knowing our data and understanding how it changes is a key factor in successfully analysing it. In this notebook, we explore the CAN messages dataset that we got from Korea University researchers on the CAN of a Kia Soul being attacked using different kinds of known attacks.

In [ ]:
import os
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.txt')

In [ ]:
df.columns

Index(['Timestamp:          0.000000        ID: 0316    000    DLC: 8    05 20 ea 0a 20 1a 00 7f'], dtype='object')

In [ ]:
df1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt')

In [ ]:
df1

       Timestamp:          0.000000        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00
0       Timestamp:          0.000271        ID: 0080  ...
1       Timestamp:          0.000495        ID: 0000  ...
2       Timestamp:          0.000736        ID: 0081  ...
3       Timestamp:          0.000983        ID: 0000  ...
4       Timestamp:          0.001239        ID: 0165  ...
...                                                   ...
656573  Timestamp:        306.295869        ID: 0000  ...
656574  Timestamp:        306.296118        ID: 0081  ...
656575  Timestamp:        306.296365        ID: 0000  ...
656576  Timestamp:        306.296624        ID: 018f  ...
656577  Timestamp:        306.296857        ID: 0000  ...

[656578 rows x 1 columns]

this doesn't look right, let's try opening it as a normal text file and see what's up

In [ ]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt','r') as file:
    for line in file.readlines(1080):
        print(line)

Timestamp:          0.000000        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.000271        ID: 0080    000    DLC: 8    00 17 dc 09 16 11 16 bb

Timestamp:          0.000495        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.000736        ID: 0081    000    DLC: 8    40 84 87 00 00 00 00 6b

Timestamp:          0.000983        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.001239        ID: 0165    000    DLC: 8    00 08 80 00 00 00 08 80

Timestamp:          0.001484        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.001736        ID: 018f    000    DLC: 8    00 3f 16 00 00 3f 00 00

Timestamp:          0.001984        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.002229        ID: 02a0    000    DLC: 8    62 00 87 9d bc 0c b7 02

Timestamp:          0.002465        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.002654        ID: 02b0    000    DLC: 5    3a ff 00 07 68

Timestamp:          0.002915        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

## DoS attack Dataset

In [ ]:
#Read the file
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt','r').readlines())
count

656579

In [ ]:
dfdict = {}

In [ ]:
#formatting data set 
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        # if len(line) > 4:
        #     line[4] = "".join(line[4:]) #line[4:] #int(''.join(line[4:]),base=16)
        #     line = line[:5]            
        dfdict[float(line[0])] = line[1:]
        # print(line)

I'll just clean it up in excel with a little reference from: https://ocslab.hksecurity.net/Dataset/CAN-intrusion-dataset

In [ ]:
#creating dataframe from dictionary dfdict
df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict.items() ]))
df = df.T

In [ ]:
df

              0    1  2   3   4   5   6   7   8   9   10
0.000000    0000  000  8  00  00  00  00  00  00  00  00
0.000271    0080  000  8  00  17  dc  09  16  11  16  bb
0.000495    0000  000  8  00  00  00  00  00  00  00  00
0.000736    0081  000  8  40  84  87  00  00  00  00  6b
0.000983    0000  000  8  00  00  00  00  00  00  00  00
...          ...  ... ..  ..  ..  ..  ..  ..  ..  ..  ..
306.295869  0000  000  8  00  00  00  00  00  00  00  00
306.296118  0081  000  8  40  84  89  00  00  00  00  f0
306.296365  0000  000  8  00  00  00  00  00  00  00  00
306.296624  018f  000  8  00  3b  18  00  00  3f  00  00
306.296857  0000  000  8  00  00  00  00  00  00  00  00

[656579 rows x 11 columns]

In [ ]:
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
dtype: object

In [ ]:
#set timestamp as index and name other columns
df.index = df.index.rename('Timestamp')
df.columns = ['CAN ID','RTR','DLC','Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8']

In [ ]:
df.head(15)

          CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
0.000000    0000  000   8    00    00    00    00    00    00    00    00
0.000271    0080  000   8    00    17    dc    09    16    11    16    bb
0.000495    0000  000   8    00    00    00    00    00    00    00    00
0.000736    0081  000   8    40    84    87    00    00    00    00    6b
0.000983    0000  000   8    00    00    00    00    00    00    00    00
0.001239    0165  000   8    00    08    80    00    00    00    08    80
0.001484    0000  000   8    00    00    00    00    00    00    00    00
0.001736    018f  000   8    00    3f    16    00    00    3f    00    00
0.001984    0000  000   8    00    00    00    00    00    00    00    00
0.002229    02a0  000   8    62    00    87    9d    bc    0c    b7    02
0.002465    0000  000   8    00    00    00    00    00    00    00    00
0.002654    02b0  000   5    3a    ff    00    07    68   NaN   NaN   NaN
0.002915    0000  000   8    00    00    00    00    00    00    00    00
0.003143    0316  000   8    05    16    dc    09    16    11    00    7f
0.003391    0000  000   8    00    00    00    00    00    00    00    00

In [ ]:
df.dtypes

CAN ID    object
RTR       object
DLC       object
Data1     object
Data2     object
Data3     object
Data4     object
Data5     object
Data6     object
Data7     object
Data8     object
dtype: object

In [ ]:
# replace NaNs with 0s
df = df.fillna('0')

In [ ]:
#change can ids from hex to int, convert other fields to int as well
df['CAN ID'] = df['CAN ID'].apply(lambda x: int(x, 16))
df['DLC'] = df['DLC'].astype('int32')
df['RTR'] = df['RTR'].astype('int32')
b16 = lambda x: int(x,16)
for col in ['Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8']:
    df[col] = df[col].apply(b16)
print(df.dtypes)
df.head(20)

CAN ID    int64
RTR       int32
DLC       int32
Data1     int64
Data2     int64
Data3     int64
Data4     int64
Data5     int64
Data6     int64
Data7     int64
Data8     int64
dtype: object

           CAN ID  RTR  DLC  Data1  Data2  ...  Data4  Data5  Data6  Data7  Data8
Timestamp                                  ...
0.000000        0    0    8      0      0  ...      0      0      0      0      0
0.000271      128    0    8      0     23  ...      9     22     17     22    187
0.000495        0    0    8      0      0  ...      0      0      0      0      0
0.000736      129    0    8     64    132  ...      0      0      0      0    107
0.000983        0    0    8      0      0  ...      0      0      0      0      0
0.001239      357    0    8      0      8  ...      0      0      0      8    128
0.001484        0    0    8      0      0  ...      0      0      0      0      0
0.001736      399    0    8      0     63  ...      0      0     63      0      0
0.001984        0    0    8      0      0  ...      0      0      0      0      0
0.002229      672    0    8     98      0  ...    157    188     12    183      2
0.002465        0    0    8      0      0  ...      0      0      0      0      0
0.002654      688    0    5     58    255  ...      7    104      0      0      0
0.002915        0    0    8      0      0  ...      0      0      0      0      0
0.003143      790    0    8      5     22  ...      9     22     17      0    127
0.003391        0    0    8      0      0  ...      0      0      0      0      0
0.003635      809    0    8     64    190  ...    140     17     44      0     16
0.003881        0    0    8      0      0  ...      0      0      0      0      0
0.004134      880    0    8    255     32  ...    128    255      0      0    160
0.004379        0    0    8      0      0  ...      0      0      0      0      0
0.004633      898    0    8     64    254  ...      0      0      0      0      0

[20 rows x 11 columns]

In [ ]:
df.head(20)

           CAN ID  RTR  DLC  Data1  Data2  ...  Data4  Data5  Data6  Data7  Data8
Timestamp                                  ...
0.000000        0    0    8      0      0  ...      0      0      0      0      0
0.000271      128    0    8      0     23  ...      9     22     17     22    187
0.000495        0    0    8      0      0  ...      0      0      0      0      0
0.000736      129    0    8     64    132  ...      0      0      0      0    107
0.000983        0    0    8      0      0  ...      0      0      0      0      0
0.001239      357    0    8      0      8  ...      0      0      0      8    128
0.001484        0    0    8      0      0  ...      0      0      0      0      0
0.001736      399    0    8      0     63  ...      0      0     63      0      0
0.001984        0    0    8      0      0  ...      0      0      0      0      0
0.002229      672    0    8     98      0  ...    157    188     12    183      2
0.002465        0    0    8      0      0  ...      0      0      0      0      0
0.002654      688    0    5     58    255  ...      7    104      0      0      0
0.002915        0    0    8      0      0  ...      0      0      0      0      0
0.003143      790    0    8      5     22  ...      9     22     17      0    127
0.003391        0    0    8      0      0  ...      0      0      0      0      0
0.003635      809    0    8     64    190  ...    140     17     44      0     16
0.003881        0    0    8      0      0  ...      0      0      0      0      0
0.004134      880    0    8    255     32  ...    128    255      0      0    160
0.004379        0    0    8      0      0  ...      0      0      0      0      0
0.004633      898    0    8     64    254  ...      0      0      0      0      0

[20 rows x 11 columns]

In [ ]:
# [int(x,base=16) for x in df['ID'][0.015:0.018]],list(df['ID'][0.015:0.018])
df.index.max()

306.296857

In [ ]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.csv')

In [ ]:
deviceids = df['CAN ID'].unique()

In [ ]:
df.groupby('CAN ID').count()

           RTR     DLC   Data1   Data2  ...   Data5   Data6   Data7   Data8
CAN ID                                  ...
0       335624  335624  335624  335624  ...  335624  335624  335624  335624
24         820     820     820     820  ...     820     820     820     820
52         163     163     163     163  ...     163     163     163     163
66         163     163     163     163  ...     163     163     163     163
67         158     158     158     158  ...     158     158     158     158
68         151     151     151     151  ...     151     151     151     151
80         664     664     664     664  ...     664     664     664     664
128      15612   15612   15612   15612  ...   15612   15612   15612   15612
129      15700   15700   15700   15700  ...   15700   15700   15700   15700
160       1523    1523    1523    1523  ...    1523    1523    1523    1523
161       1551    1551    1551    1551  ...    1551    1551    1551    1551
272       1552    1552    1552    1552  ...    1552    1552    1552    1552
288        685     685     685     685  ...     685     685     685     685
339      18401   18401   18401   18401  ...   18401   18401   18401   18401
356      17271   17271   17271   17271  ...   17271   17271   17271   17271
357      15792   15792   15792   15792  ...   15792   15792   15792   15792
399      15849   15849   15849   15849  ...   15849   15849   15849   15849
497      10858   10858   10858   10858  ...   10858   10858   10858   10858
544      18274   18274   18274   18274  ...   18274   18274   18274   18274
608      15444   15444   15444   15444  ...   15444   15444   15444   15444
672      15355   15355   15355   15355  ...   15355   15355   15355   15355
688      14001   14001   14001   14001  ...   14001   14001   14001   14001
704       4343    4343    4343    4343  ...    4343    4343    4343    4343
790      15520   15520   15520   15520  ...   15520   15520   15520   15520
809      15383   15383   15383   15383  ...   15383   15383   15383   15383
848       7764    7764    7764    7764  ...    7764    7764    7764    7764
880      15349   15349   15349   15349  ...   15349   15349   15349   15349
898       7789    7789    7789    7789  ...    7789    7789    7789    7789
1087     15041   15041   15041   15041  ...   15041   15041   15041   15041
1088     15093   15093   15093   15093  ...   15093   15093   15093   15093
1200     10690   10690   10690   10690  ...   10690   10690   10690   10690
1201     10472   10472   10472   10472  ...   10472   10472   10472   10472
1264      1184    1184    1184    1184  ...    1184    1184    1184    1184
1265       453     453     453     453  ...     453     453     453     453
1266       840     840     840     840  ...     840     840     840     840
1296      1585    1585    1585    1585  ...    1585    1585    1585    1585
1303       758     758     758     758  ...     758     758     758     758
1306       329     329     329     329  ...     329     329     329     329
1349      8493    8493    8493    8493  ...    8493    8493    8493    8493
1415      1548    1548    1548    1548  ...    1548    1548    1548    1548
1435      1485    1485    1485    1485  ...    1485    1485    1485    1485
1440      2968    2968    2968    2968  ...    2968    2968    2968    2968
1442      2602    2602    2602    2602  ...    2602    2602    2602    2602
1508       570     570     570     570  ...     570     570     570     570
1520       330     330     330     330  ...     330     330     330     330
1680       379     379     379     379  ...     379     379     379     379

[46 rows x 10 columns]

## Fuzzy Attack Dataset

Now exploring the format of the other datasets, we see that we have a uniform formatting, and thus can apply the same transformations to get a csv file that we can use for further processing. We have a nice pipeline established.

In [ ]:
#read the file
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Fuzzy_attack_dataset.txt','r').readlines())
count

591990

In [ ]:
dfdict2 = {}

In [ ]:
#remove the old format and put into dictionary 
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Fuzzy_attack_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        # if len(line) > 4:
        #     line[4] = line[4:]
        #     line = line[:5]            
        dfdict2[float(line[0])] = line[1:]
        # print(line)

In [ ]:
list(dfdict2.values())[:10]

[['0220', '000', '8', '29', 'c5', '26', '55', '6a', '67', '02', '5d'],
 ['04b1', '000', '8', '5e', '51', 'cf', 'b7', '4c', '99', 'aa', '97'],
 ['02b0', '000', '5', '3a', 'ff', '00', '07', '2c'],
 ['0165', '000', '8', '00', '08', '80', '02', '00', '00', '0c', '86'],
 ['0220', '000', '8', 'd4', 'a6', 'e3', 'a9', '23', 'aa', 'd3', '1f'],
 ['04b0', '000', '8', '1a', '86', '7b', '2e', 'a3', '0a', '58', 'bb'],
 ['04f0', '000', '8', '00', '00', '30', '00', '00', '93', 'cd', '04'],
 ['0316', '000', '8', '05', '17', 'e6', '09', '17', '18', '00', '7f'],
 ['0329', '000', '8', 'd7', 'b4', '80', '8c', '11', '2c', '00', '10'],
 ['0080', '000', '8', '00', '17', 'e6', '09', '17', '18', '17', '3f']]

In [ ]:
#create df from dictionary
df2 = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict2.items() ]))
df2 = df2.T
df2 = df2.iloc[:,:-1]
df2

              0    1  2   3   4   5   6   7    8    9    10
0.000000    0220  000  8  29  c5  26  55  6a   67   02   5d
0.000868    04b1  000  8  5e  51  cf  b7  4c   99   aa   97
0.001212    02b0  000  5  3a  ff  00  07  2c  NaN  NaN  NaN
0.001452    0165  000  8  00  08  80  02  00   00   0c   86
0.001782    0220  000  8  d4  a6  e3  a9  23   aa   d3   1f
...          ...  ... ..  ..  ..  ..  ..  ..  ...  ...  ...
347.330224  0153  000  8  00  a1  20  ff  00   ff   20   df
347.330461  0220  000  8  c0  03  f5  03  0c   00   47   10
347.330678  05a0  000  8  a6  20  52  6d  a7   ee   7c   e2
347.331050  05a2  000  8  ee  22  f8  0b  5b   83   99   ab
347.331739  05a0  000  8  ab  8f  7e  69  98   55   7a   90

[591990 rows x 11 columns]

In [ ]:
#set index and column names
# df2.set_index('Timestamp')
df2.columns = ['CAN ID','RTR','DLC','Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8'] 
df2.index = df2.index.rename('Timestamp')
df2

           CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
0.000000     0220  000   8    29    c5    26    55    6a    67    02    5d
0.000868     04b1  000   8    5e    51    cf    b7    4c    99    aa    97
0.001212     02b0  000   5    3a    ff    00    07    2c   NaN   NaN   NaN
0.001452     0165  000   8    00    08    80    02    00    00    0c    86
0.001782     0220  000   8    d4    a6    e3    a9    23    aa    d3    1f
...           ...  ...  ..   ...   ...   ...   ...   ...   ...   ...   ...
347.330224   0153  000   8    00    a1    20    ff    00    ff    20    df
347.330461   0220  000   8    c0    03    f5    03    0c    00    47    10
347.330678   05a0  000   8    a6    20    52    6d    a7    ee    7c    e2
347.331050   05a2  000   8    ee    22    f8    0b    5b    83    99    ab
347.331739   05a0  000   8    ab    8f    7e    69    98    55    7a    90

[591990 rows x 11 columns]

In [ ]:
# replace NaNs with 0s
df2 = df2.fillna('0')
print(df2.head(20))
#convert hex strings and objects to ints
print(df2.dtypes)
#change datatypes from hex to int
df2['CAN ID'] = df2['CAN ID'].apply(lambda x: int(x, 16))
df2['DLC'] = df2['DLC'].astype('int32')
df2['RTR'] = df2['RTR'].astype('int32')
b16 = lambda x: int(x,16)
for col in ['Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8']:
    df2[col] = df2[col].apply(b16)
print(df2.dtypes)
df2.head(20)

          CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
0.000000    0220  000   8    29    c5    26    55    6a    67    02    5d
0.000868    04b1  000   8    5e    51    cf    b7    4c    99    aa    97
0.001212    02b0  000   5    3a    ff    00    07    2c     0     0     0
0.001452    0165  000   8    00    08    80    02    00    00    0c    86
0.001782    0220  000   8    d4    a6    e3    a9    23    aa    d3    1f
0.002687    04b0  000   8    1a    86    7b    2e    a3    0a    58    bb
0.002905    04f0  000   8    00    00    30    00    00    93    cd    04
0.003160    0316  000   8    05    17    e6    09    17    18    00    7f
0.003405    0329  000   8    d7    b4    80    8c    11    2c    00    10
0.003612    0080  000   8    00    17    e6    09    17    18    17    3f
0.003867    0081  000   8    40    84    85    00    00    00    00    4f
0.004095    018f  000   8    00    3c    17    00    00    3f    00    00
0.004333    0260  000   8    05    17    00    30    00    8c    57    2e
0.004576    02a0  000   8    c2    00    85    9d    ba    0c    b7    02
0.004810    04b0  000   8    00    00    00    00    00    00    00    00
0.005058    0164  000   8    00    08    01    00    00    00    0c    05
0.005296    0545  000   8    d8    15    00    89    e9    ff    e9    ff
0.005524    05a0  000   8    aa    61    a5    e7    07    04    97    22
0.005852    0153  000   8    9e    ac    8f    28    65    e4    14    a6
0.006166    0220  000   8    62    09    aa    f9    ea    bf    c5    9b
CAN ID    object
RTR       object
DLC       object
Data1     object
Data2     object
Data3     object
Data4     object
Data5     object
Data6     object
Data7     object
Data8     object
dtype: object
CAN ID    int64
RTR       int32
DLC       int32
Data1     int64
Data2     int64
Data3     int64
Data4     int64
Data5     int64
Data6     int64
Data7     int64
Data8     int64
dtype: object

           CAN ID  RTR  DLC  Data1  Data2  ...  Data4  Data5  Data6  Data7  Data8
Timestamp                                  ...
0.000000      544    0    8     41    197  ...     85    106    103      2     93
0.000868     1201    0    8     94     81  ...    183     76    153    170    151
0.001212      688    0    5     58    255  ...      7     44      0      0      0
0.001452      357    0    8      0      8  ...      2      0      0     12    134
0.001782      544    0    8    212    166  ...    169     35    170    211     31
0.002687     1200    0    8     26    134  ...     46    163     10     88    187
0.002905     1264    0    8      0      0  ...      0      0    147    205      4
0.003160      790    0    8      5     23  ...      9     23     24      0    127
0.003405      809    0    8    215    180  ...    140     17     44      0     16
0.003612      128    0    8      0     23  ...      9     23     24     23     63
0.003867      129    0    8     64    132  ...      0      0      0      0     79
0.004095      399    0    8      0     60  ...      0      0     63      0      0
0.004333      608    0    8      5     23  ...     48      0    140     87     46
0.004576      672    0    8    194      0  ...    157    186     12    183      2
0.004810     1200    0    8      0      0  ...      0      0      0      0      0
0.005058      356    0    8      0      8  ...      0      0      0     12      5
0.005296     1349    0    8    216     21  ...    137    233    255    233    255
0.005524     1440    0    8    170     97  ...    231      7      4    151     34
0.005852      339    0    8    158    172  ...     40    101    228     20    166
0.006166      544    0    8     98      9  ...    249    234    191    197    155

[20 rows x 11 columns]

In [ ]:
df2.index.max()

347.331739

In [ ]:
df2.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Fuzzy_attack_dataset.csv')

In [ ]:
deviceids = df2['CAN ID'].unique()

In [ ]:
df2.groupby('CAN \
ID').count()

          RTR    DLC  Data1  Data2  Data3  Data4  Data5  Data6  Data7  Data8
CAN ID
24       3051   3051   3051   3051   3051   3051   3051   3051   3051   3051
52        173    173    173    173    173    173    173    173    173    173
66        158    158    158    158    158    158    158    158    158    158
67        161    161    161    161    161    161    161    161    161    161
68        162    162    162    162    162    162    162    162    162    162
80        731    731    731    731    731    731    731    731    731    731
128     16395  16395  16395  16395  16395  16395  16395  16395  16395  16395
129     16627  16627  16627  16627  16627  16627  16627  16627  16627  16627
160      1638   1638   1638   1638   1638   1638   1638   1638   1638   1638
161      1560   1560   1560   1560   1560   1560   1560   1560   1560   1560
272      5091   5091   5091   5091   5091   5091   5091   5091   5091   5091
288       698    698    698    698    698    698    698    698    698    698
339     42704  42704  42704  42704  42704  42704  42704  42704  42704  42704
356     41590  41590  41590  41590  41590  41590  41590  41590  41590  41590
357     14442  14442  14442  14442  14442  14442  14442  14442  14442  14442
399     16568  16568  16568  16568  16568  16568  16568  16568  16568  16568
497     36333  36333  36333  36333  36333  36333  36333  36333  36333  36333
544     41538  41538  41538  41538  41538  41538  41538  41538  41538  41538
608     16556  16556  16556  16556  16556  16556  16556  16556  16556  16556
672     16151  16151  16151  16151  16151  16151  16151  16151  16151  16151
688     13620  13620  13620  13620  13620  13620  13620  13620  13620  13620
704     31645  31645  31645  31645  31645  31645  31645  31645  31645  31645
790     19758  19758  19758  19758  19758  19758  19758  19758  19758  19758
809     15886  15886  15886  15886  15886  15886  15886  15886  15886  15886
848      7968   7968   7968   7968   7968   7968   7968   7968   7968   7968
880     16016  16016  16016  16016  16016  16016  16016  16016  16016  16016
898      8152   8152   8152   8152   8152   8152   8152   8152   8152   8152
1087    16684  16684  16684  16684  16684  16684  16684  16684  16684  16684
1088    15831  15831  15831  15831  15831  15831  15831  15831  15831  15831
1200    35834  35834  35834  35834  35834  35834  35834  35834  35834  35834
1201    36043  36043  36043  36043  36043  36043  36043  36043  36043  36043
1264     7857   7857   7857   7857   7857   7857   7857   7857   7857   7857
1265     1535   1535   1535   1535   1535   1535   1535   1535   1535   1535
1266     8469   8469   8469   8469   8469   8469   8469   8469   8469   8469
1296     1641   1641   1641   1641   1641   1641   1641   1641   1641   1641
1303      761    761    761    761    761    761    761    761    761    761
1306      782    782    782    782    782    782    782    782    782    782
1349    15293  15293  15293  15293  15293  15293  15293  15293  15293  15293
1415     1663   1663   1663   1663   1663   1663   1663   1663   1663   1663
1435     1537   1537   1537   1537   1537   1537   1537   1537   1537   1537
1440    29891  29891  29891  29891  29891  29891  29891  29891  29891  29891
1442    29368  29368  29368  29368  29368  29368  29368  29368  29368  29368
1508     1330   1330   1330   1330   1330   1330   1330   1330   1330   1330
1520      688    688    688    688    688    688    688    688    688    688
1680     1411   1411   1411   1411   1411   1411   1411   1411   1411   1411

## Attack Free Dataset

In [ ]:
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.txt','r').readlines())
count

2369398

In [ ]:
dfdict3 = {}

In [ ]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        # if len(line) > 4:
        #     line[4] = line[4:]
        #     line = line[:5]            
        dfdict3[float(line[0])] = line[1:]
        # print(line)

In [ ]:
df3 = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict3.items() ]))
df3 = df3.T
df3

               0    1  2   3   4   5   6    7    8    9    10
0.000000     0316  000  8  05  20  ea  0a   20   1a   00   7f
0.000224     0329  000  8  d7  a7  7f  8c   11   2f   00   10
0.000462     0080  000  8  00  17  ea  0a   20   1a   20   43
0.000704     0081  000  8  7f  84  60  00   00   00   00   53
0.000878     0120  000  4  00  00  00  00  NaN  NaN  NaN  NaN
...           ...  ... ..  ..  ..  ..  ..  ...  ...  ...  ...
1037.589395  0044  000  8  00  00  00  ff   6f   00   00   00
1037.589628  0165  000  8  11  e8  7f  00   00   00   0c   8a
1037.589812  02b0  000  5  23  00  00  07   ac  NaN  NaN  NaN
1037.590065  04b0  000  8  00  00  00  00   00   00   00   00
1037.590316  0164  000  8  00  08  00  00   00   00   08   00

[2369398 rows x 11 columns]

In [ ]:
df3.index = df3.index.rename('Timestamp')
df3.columns = ['CAN ID','RTR','DLC','Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8'] 
# df3.set_index('Timestamp')
df3

            CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
0.000000      0316  000   8    05    20    ea    0a    20    1a    00    7f
0.000224      0329  000   8    d7    a7    7f    8c    11    2f    00    10
0.000462      0080  000   8    00    17    ea    0a    20    1a    20    43
0.000704      0081  000   8    7f    84    60    00    00    00    00    53
0.000878      0120  000   4    00    00    00    00   NaN   NaN   NaN   NaN
...            ...  ...  ..   ...   ...   ...   ...   ...   ...   ...   ...
1037.589395   0044  000   8    00    00    00    ff    6f    00    00    00
1037.589628   0165  000   8    11    e8    7f    00    00    00    0c    8a
1037.589812   02b0  000   5    23    00    00    07    ac   NaN   NaN   NaN
1037.590065   04b0  000   8    00    00    00    00    00    00    00    00
1037.590316   0164  000   8    00    08    00    00    00    00    08    00

[2369398 rows x 11 columns]

In [ ]:
# replace NaNs with 0s
df3 = df3.fillna('0')
print(df3.head(20))
#convert hex strings and objects to ints
print(df3.dtypes)
df3['CAN ID'] = df3['CAN ID'].apply(lambda x: int(x, 16))
df3['DLC'] = df3['DLC'].astype('int32')
df3['RTR'] = df3['RTR'].astype('int32')
b16 = lambda x: int(x,16)
for col in ['Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8']:
    df3[col] = df3[col].apply(b16)
print(df3.dtypes)
df3.head(20)

          CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
0.000000    0316  000   8    05    20    ea    0a    20    1a    00    7f
0.000224    0329  000   8    d7    a7    7f    8c    11    2f    00    10
0.000462    0080  000   8    00    17    ea    0a    20    1a    20    43
0.000704    0081  000   8    7f    84    60    00    00    00    00    53
0.000878    0120  000   4    00    00    00    00     0     0     0     0
0.001115    0153  000   8    00    80    10    ff    00    ff    40    ce
0.001366    018f  000   8    00    29    20    00    00    45    00    00
0.001600    0220  000   8    ec    03    02    04    0c    00    35    10
0.001684    0153  100   0     0     0     0     0     0     0     0     0
0.001928    0153  000   8    00    80    10    ff    00    ff    40    ce
0.002167    0260  000   8    05    20    00    30    ff    93    5f    35
0.002402    02a0  000   8    62    00    60    9d    db    0c    ba    02
0.002638    0370  000   8    ff    20    00    80    ff    00    00    ec
0.002882    0382  000   8    40    fe    0f    00    00    00    00    08
0.003123    043f  000   8    10    50    60    ff    4b    98    09    00
0.003370    0440  000   8    ff    f0    00    00    ff    a0    09    00
0.003617    0517  000   8    00    00    00    00    00    00    00    00
0.003852    0545  000   8    d8    10    00    8c    32    00    32    00
0.004095    059b  000   8    00    00    00    00    00    00    00    c4
0.005486    02b0  000   5    15    00    00    07    30     0     0     0
CAN ID    object
RTR       object
DLC       object
Data1     object
Data2     object
Data3     object
Data4     object
Data5     object
Data6     object
Data7     object
Data8     object
dtype: object
CAN ID    int64
RTR       int32
DLC       int32
Data1     int64
Data2     int64
Data3     int64
Data4     int64
Data5     int64
Data6     int64
Data7     int64
Data8     int64
dtype: object

           CAN ID  RTR  DLC  Data1  Data2  ...  Data4  Data5  Data6  Data7  Data8
Timestamp                                  ...
0.000000      790    0    8      5     32  ...     10     32     26      0    127
0.000224      809    0    8    215    167  ...    140     17     47      0     16
0.000462      128    0    8      0     23  ...     10     32     26     32     67
0.000704      129    0    8    127    132  ...      0      0      0      0     83
0.000878      288    0    4      0      0  ...      0      0      0      0      0
0.001115      339    0    8      0    128  ...    255      0    255     64    206
0.001366      399    0    8      0     41  ...      0      0     69      0      0
0.001600      544    0    8    236      3  ...      4     12      0     53     16
0.001684      339  100    0      0      0  ...      0      0      0      0      0
0.001928      339    0    8      0    128  ...    255      0    255     64    206
0.002167      608    0    8      5     32  ...     48    255    147     95     53
0.002402      672    0    8     98      0  ...    157    219     12    186      2
0.002638      880    0    8    255     32  ...    128    255      0      0    236
0.002882      898    0    8     64    254  ...      0      0      0      0      8
0.003123     1087    0    8     16     80  ...    255     75    152      9      0
0.003370     1088    0    8    255    240  ...      0    255    160      9      0
0.003617     1303    0    8      0      0  ...      0      0      0      0      0
0.003852     1349    0    8    216     16  ...    140     50      0     50      0
0.004095     1435    0    8      0      0  ...      0      0      0      0    196
0.005486      688    0    5     21      0  ...      7     48      0      0      0

[20 rows x 11 columns]

In [ ]:
df3.index.max()

1037.590316

In [ ]:
df3.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.csv')

## Impersonation Attack Dataset

In [ ]:
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Impersonation_attack_dataset.txt','r').readlines())
count

995472

In [ ]:
dfdict4 = {}

In [ ]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Impersonation_attack_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        # if len(line) > 4:
        #     line[4] = line[4:]
        #     line = line[:5]            
        dfdict4[float(line[0])] = line[1:]
        # print(line)

In [ ]:
df4 = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict4.items() ]))
df4 = df4.T
df4.columns = ['CAN ID','RTR','DLC','Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8'] 
df4.index = df4.index.rename('Timestamp')
df4

             CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
1.481193e+09   0587  000   8    00    00    00    00    00    00    00    01
1.481193e+09   0316  000   8    05    1c    6a    0a    1c    13    00    7f
1.481193e+09   018f  000   8    00    21    1c    00    00    43    00    00
1.481193e+09   0260  000   8    05    1c    00    30    ff    93    63    35
1.481193e+09   0080  000   8    00    17    6a    0a    1c    13    1c    1f
...             ...  ...  ..   ...   ...   ...   ...   ...   ...   ...   ...
1.481193e+09   05e4  000   3    00    02    00   NaN   NaN   NaN   NaN   NaN
1.481193e+09   0153  000   8    00    80    10    ff    00    ff    a0    2e
1.481193e+09   0165  000   8    0e    d8    7f    00    00    00    03    aa
1.481193e+09   0220  000   8    f4    03    f7    03    0c    00    3a    10
1.481193e+09   02b0  000   5    73    00    00    07    03   NaN   NaN   NaN

[995472 rows x 11 columns]

In [ ]:
df4.index.max()

1481193380.725113

In [ ]:
# replace NaNs with 0s
df4 = df4.fillna('0')
print(df4.head(20))
#convert hex strings and objects to ints
print(df4.dtypes)
df4['CAN ID'] = df4['CAN ID'].apply(lambda x: int(x, 16))
df4['DLC'] = df4['DLC'].astype('int32')
df4['RTR'] = df4['RTR'].astype('int32')
b16 = lambda x: int(x,16)
for col in ['Data1','Data2','Data3','Data4','Data5','Data6','Data7','Data8']:
    df4[col] = df4[col].apply(b16)
print(df4.dtypes)
df4.head(20)

             CAN ID  RTR DLC Data1 Data2 Data3 Data4 Data5 Data6 Data7 Data8
Timestamp
1.481193e+09   0587  000   8    00    00    00    00    00    00    00    01
1.481193e+09   0316  000   8    05    1c    6a    0a    1c    13    00    7f
1.481193e+09   018f  000   8    00    21    1c    00    00    43    00    00
1.481193e+09   0260  000   8    05    1c    00    30    ff    93    63    35
1.481193e+09   0080  000   8    00    17    6a    0a    1c    13    1c    1f
1.481193e+09   0081  000   8    4d    84    5d    00    00    00    00    2f
1.481193e+09   02a0  000   8    62    00    5d    9d    c2    0c    b7    02
1.481193e+09   0329  000   8    85    a8    80    8c    11    2d    00    10
1.481193e+09   0382  000   8    40    fe    0f    00    00    00    00    00
1.481193e+09   04b1  000   8    00    00    00    00    00    00    00    00
1.481193e+09   0164  000   8    00    08    00    00    00    00    05    0d
1.481193e+09   0370  000   8    ff    20    00    80    ff    00    00    ec
1.481193e+09   043f  000   8    10    50    64    ff    51    54    09    00
1.481193e+09   0440  000   8    ff    f0    00    00    ff    54    09    00
1.481193e+09   04f2  000   8    00    00    90    38    00    00    00    a1
1.481193e+09   0110  000   8    e0    3c    30    09    00    00    00    00
1.481193e+09   04f0  000   8    00    00    42    00    00    95    cd    04
1.481193e+09   0545  000   8    da    15    00    8b    3d    00    3f    00
1.481193e+09   00a0  000   8    42    76    64    0a    00    24    00    02
1.481193e+09   00a1  000   8    7e    8c    80    80    24    00    00    00
CAN ID    object
RTR       object
DLC       object
Data1     object
Data2     object
Data3     object
Data4     object
Data5     object
Data6     object
Data7     object
Data8     object
dtype: object
CAN ID    int64
RTR       int32
DLC       int32
Data1     int64
Data2     int64
Data3     int64
Data4     int64
Data5     int64
Data6     int64
Data7     int64
Data8     int64
dtype: object

              CAN ID  RTR  DLC  Data1  Data2  ...  Data4  Data5  Data6  Data7  Data8
Timestamp                                     ...
1.481193e+09    1415    0    8      0      0  ...      0      0      0      0      1
1.481193e+09     790    0    8      5     28  ...     10     28     19      0    127
1.481193e+09     399    0    8      0     33  ...      0      0     67      0      0
1.481193e+09     608    0    8      5     28  ...     48    255    147     99     53
1.481193e+09     128    0    8      0     23  ...     10     28     19     28     31
1.481193e+09     129    0    8     77    132  ...      0      0      0      0     47
1.481193e+09     672    0    8     98      0  ...    157    194     12    183      2
1.481193e+09     809    0    8    133    168  ...    140     17     45      0     16
1.481193e+09     898    0    8     64    254  ...      0      0      0      0      0
1.481193e+09    1201    0    8      0      0  ...      0      0      0      0      0
1.481193e+09     356    0    8      0      8  ...      0      0      0      5     13
1.481193e+09     880    0    8    255     32  ...    128    255      0      0    236
1.481193e+09    1087    0    8     16     80  ...    255     81     84      9      0
1.481193e+09    1088    0    8    255    240  ...      0    255     84      9      0
1.481193e+09    1266    0    8      0      0  ...     56      0      0      0    161
1.481193e+09     272    0    8    224     60  ...      9      0      0      0      0
1.481193e+09    1264    0    8      0      0  ...      0      0    149    205      4
1.481193e+09    1349    0    8    218     21  ...    139     61      0     63      0
1.481193e+09     160    0    8     66    118  ...     10      0     36      0      2
1.481193e+09     161    0    8    126    140  ...    128     36      0      0      0

[20 rows x 11 columns]

In [ ]:
df4.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Impersonation_attack_dataset.csv')