<a href="https://colab.research.google.com/github/mehrotrasan16/CS581-CAN-DO-Project/blob/sanketm-datapreparation/code/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration

As we know, knowing our data and understanding how it changes is a key factor in successfully analysing it. In this notebook, we explore the CAN messages dataset that we got from Korea University researchers on the CAN of a Kia Soul being attacked using different kinds of known attacks.

In [ ]:
import os
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.txt')

In [ ]:
df.columns

Index(['Timestamp:          0.000000        ID: 0316    000    DLC: 8    05 20 ea 0a 20 1a 00 7f'], dtype='object')

In [ ]:
df1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt')

In [ ]:
df1

       Timestamp:          0.000000        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00
0       Timestamp:          0.000271        ID: 0080  ...
1       Timestamp:          0.000495        ID: 0000  ...
2       Timestamp:          0.000736        ID: 0081  ...
3       Timestamp:          0.000983        ID: 0000  ...
4       Timestamp:          0.001239        ID: 0165  ...
...                                                   ...
656573  Timestamp:        306.295869        ID: 0000  ...
656574  Timestamp:        306.296118        ID: 0081  ...
656575  Timestamp:        306.296365        ID: 0000  ...
656576  Timestamp:        306.296624        ID: 018f  ...
656577  Timestamp:        306.296857        ID: 0000  ...

[656578 rows x 1 columns]

this doesn't look right, let's try opening it as a normal text file and see what's up

In [36]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt','r') as file:
    for line in file.readlines(1080):
        print(line)

Timestamp:          0.000000        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.000271        ID: 0080    000    DLC: 8    00 17 dc 09 16 11 16 bb

Timestamp:          0.000495        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.000736        ID: 0081    000    DLC: 8    40 84 87 00 00 00 00 6b

Timestamp:          0.000983        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.001239        ID: 0165    000    DLC: 8    00 08 80 00 00 00 08 80

Timestamp:          0.001484        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.001736        ID: 018f    000    DLC: 8    00 3f 16 00 00 3f 00 00

Timestamp:          0.001984        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.002229        ID: 02a0    000    DLC: 8    62 00 87 9d bc 0c b7 02

Timestamp:          0.002465        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

Timestamp:          0.002654        ID: 02b0    000    DLC: 5    3a ff 00 07 68

Timestamp:          0.002915        ID: 0000    000    DLC: 8    00 00 00 00 00 00 00 00

## DoS attack Dataset

In [56]:
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt','r').readlines())
count

656579

In [46]:
dfdict = {}

In [48]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        if len(line) > 4:
            line[4] = line[4:]
            line = line[:5]            
        dfdict[float(line[0])] = line[1:]
        # print(line)

That's ugly, I'll just clean it up in excel with a little reference from: https://ocslab.hksecurity.net/Dataset/CAN-intrusion-dataset

In [49]:
df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict.items() ]))
df = df.T

In [50]:
df

               0    1  2                                 3
0.000000    0000  000  8  [00, 00, 00, 00, 00, 00, 00, 00]
0.000271    0080  000  8  [00, 17, dc, 09, 16, 11, 16, bb]
0.000495    0000  000  8  [00, 00, 00, 00, 00, 00, 00, 00]
0.000736    0081  000  8  [40, 84, 87, 00, 00, 00, 00, 6b]
0.000983    0000  000  8  [00, 00, 00, 00, 00, 00, 00, 00]
...          ...  ... ..                               ...
306.295869  0000  000  8  [00, 00, 00, 00, 00, 00, 00, 00]
306.296118  0081  000  8  [40, 84, 89, 00, 00, 00, 00, f0]
306.296365  0000  000  8  [00, 00, 00, 00, 00, 00, 00, 00]
306.296624  018f  000  8  [00, 3b, 18, 00, 00, 3f, 00, 00]
306.296857  0000  000  8  [00, 00, 00, 00, 00, 00, 00, 00]

[656579 rows x 4 columns]

In [52]:
df.columns = ['ID','RTR','DLC','Data'] 
df.index = df.index.rename('Timestamp')

In [53]:
df

              ID  RTR DLC                              Data
Timestamp
0.000000    0000  000   8  [00, 00, 00, 00, 00, 00, 00, 00]
0.000271    0080  000   8  [00, 17, dc, 09, 16, 11, 16, bb]
0.000495    0000  000   8  [00, 00, 00, 00, 00, 00, 00, 00]
0.000736    0081  000   8  [40, 84, 87, 00, 00, 00, 00, 6b]
0.000983    0000  000   8  [00, 00, 00, 00, 00, 00, 00, 00]
...          ...  ...  ..                               ...
306.295869  0000  000   8  [00, 00, 00, 00, 00, 00, 00, 00]
306.296118  0081  000   8  [40, 84, 89, 00, 00, 00, 00, f0]
306.296365  0000  000   8  [00, 00, 00, 00, 00, 00, 00, 00]
306.296624  018f  000   8  [00, 3b, 18, 00, 00, 3f, 00, 00]
306.296857  0000  000   8  [00, 00, 00, 00, 00, 00, 00, 00]

[656579 rows x 4 columns]

In [58]:
df.index.max()

306.296857

In [59]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/DoS_attack_dataset.csv')

In [62]:
deviceids = df['ID'].unique()

In [66]:
df.groupby('ID').count()

         RTR     DLC    Data
ID
0000  335624  335624  335624
0018     820     820     820
0034     163     163     163
0042     163     163     163
0043     158     158     158
0044     151     151     151
0050     664     664     664
0080   15612   15612   15612
0081   15700   15700   15700
00a0    1523    1523    1523
00a1    1551    1551    1551
0110    1552    1552    1552
0120     685     685     685
0153   18401   18401   17225
0164   17271   17271   16040
0165   15792   15792   15792
018f   15849   15849   15849
01f1   10858   10858    9596
0220   18274   18274   17062
0260   15444   15444   15444
02a0   15355   15355   15355
02b0   14001   14001   14001
02c0    4343    4343    3199
0316   15520   15520   15520
0329   15383   15383   15383
0350    7764    7764    7764
0370   15349   15349   15349
0382    7789    7789    7789
043f   15041   15041   15041
0440   15093   15093   15093
04b0   10690   10690    9508
04b1   10472   10472    9310
04f0    1184    1184    1184
04f1     453     453     453
04f2     840     840     840
0510    1585    1585    1585
0517     758     758     758
051a     329     329     329
0545    8493    8493    8493
0587    1548    1548    1548
059b    1485    1485    1485
05a0    2968    2968    1765
05a2    2602    2602    1380
05e4     570     570     570
05f0     330     330     330
0690     379     379     379

## Fuzzy Attack Dataset

Now exploring the format of the other datasets, we see that we have a uniform formatting, and thus can apply the same transformations to get a csv file that we can use for further processing. We have a nice pipeline established.

In [67]:
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Fuzzy_attack_dataset.txt','r').readlines())
count

591990

In [70]:
dfdict2 = {}

In [71]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Fuzzy_attack_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        if len(line) > 4:
            line[4] = line[4:]
            line = line[:5]            
        dfdict2[float(line[0])] = line[1:]
        # print(line)

In [72]:
df2 = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict2.items() ]))
df2 = df2.T
df2.columns = ['ID','RTR','DLC','Data'] 
df2.index = df2.index.rename('Timestamp')
df2

              ID  RTR DLC                              Data
Timestamp
0.000000    0220  000   8  [29, c5, 26, 55, 6a, 67, 02, 5d]
0.000868    04b1  000   8  [5e, 51, cf, b7, 4c, 99, aa, 97]
0.001212    02b0  000   5              [3a, ff, 00, 07, 2c]
0.001452    0165  000   8  [00, 08, 80, 02, 00, 00, 0c, 86]
0.001782    0220  000   8  [d4, a6, e3, a9, 23, aa, d3, 1f]
...          ...  ...  ..                               ...
347.330224  0153  000   8  [00, a1, 20, ff, 00, ff, 20, df]
347.330461  0220  000   8  [c0, 03, f5, 03, 0c, 00, 47, 10]
347.330678  05a0  000   8  [a6, 20, 52, 6d, a7, ee, 7c, e2]
347.331050  05a2  000   8  [ee, 22, f8, 0b, 5b, 83, 99, ab]
347.331739  05a0  000   8  [ab, 8f, 7e, 69, 98, 55, 7a, 90]

[591990 rows x 4 columns]

In [73]:
df2.index.max()

347.331739

In [74]:
df2.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Fuzzy_attack_dataset.csv')

In [75]:
deviceids = df2['ID'].unique()

In [76]:
df2.groupby('ID').count()

        RTR    DLC   Data
ID
0018   3051   3051   3051
0034    173    173    173
0042    158    158    158
0043    161    161    161
0044    162    162    162
0050    731    731    731
0080  16395  16395  16395
0081  16627  16627  16627
00a0   1638   1638   1638
00a1   1560   1560   1560
0110   5091   5091   5091
0120    698    698    698
0153  42704  42704  41333
0164  41590  41590  40214
0165  14442  14442  14442
018f  16568  16568  16568
01f1  36333  36333  34942
0220  41538  41538  40175
0260  16556  16556  16556
02a0  16151  16151  16151
02b0  13620  13620  13620
02c0  31645  31645  30320
0316  19758  19758  19758
0329  15886  15886  15886
0350   7968   7968   7968
0370  16016  16016  16016
0382   8152   8152   8152
043f  16684  16684  16684
0440  15831  15831  15831
04b0  35834  35834  34496
04b1  36043  36043  34744
04f0   7857   7857   7857
04f1   1535   1535   1535
04f2   8469   8469   8469
0510   1641   1641   1641
0517    761    761    761
051a    782    782    782
0545  15293  15293  15293
0587   1663   1663   1663
059b   1537   1537   1537
05a0  29891  29891  28568
05a2  29368  29368  28073
05e4   1330   1330   1330
05f0    688    688    688
0690   1411   1411   1411

## Attack Free Dataset

In [77]:
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.txt','r').readlines())
count

2369398

In [81]:
dfdict3 = {}

In [82]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        if len(line) > 4:
            line[4] = line[4:]
            line = line[:5]            
        dfdict3[float(line[0])] = line[1:]
        # print(line)

In [83]:
df3 = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict3.items() ]))
df3 = df3.T
df3.columns = ['ID','RTR','DLC','Data'] 
df3.index = df3.index.rename('Timestamp')
df3

               ID  RTR DLC                              Data
Timestamp
0.000000     0316  000   8  [05, 20, ea, 0a, 20, 1a, 00, 7f]
0.000224     0329  000   8  [d7, a7, 7f, 8c, 11, 2f, 00, 10]
0.000462     0080  000   8  [00, 17, ea, 0a, 20, 1a, 20, 43]
0.000704     0081  000   8  [7f, 84, 60, 00, 00, 00, 00, 53]
0.000878     0120  000   4                  [00, 00, 00, 00]
...           ...  ...  ..                               ...
1037.589395  0044  000   8  [00, 00, 00, ff, 6f, 00, 00, 00]
1037.589628  0165  000   8  [11, e8, 7f, 00, 00, 00, 0c, 8a]
1037.589812  02b0  000   5              [23, 00, 00, 07, ac]
1037.590065  04b0  000   8  [00, 00, 00, 00, 00, 00, 00, 00]
1037.590316  0164  000   8  [00, 08, 00, 00, 00, 00, 08, 00]

[2369398 rows x 4 columns]

In [84]:
df3.index.max()

1037.590316

In [85]:
df3.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Attack_free_dataset.csv')

## Impersonation Attack Dataset

In [86]:
count = len(open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Impersonation_attack_dataset.txt','r').readlines())
count

995472

In [87]:
dfdict4 = {}

In [88]:
with open('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Impersonation_attack_dataset.txt','r') as file:
    for line in file.readlines():
        line = line.split()
        line.remove('Timestamp:')
        line.remove('ID:')
        line.remove('DLC:')
        if len(line) > 4:
            line[4] = line[4:]
            line = line[:5]            
        dfdict4[float(line[0])] = line[1:]
        # print(line)

In [89]:
df4 = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in dfdict4.items() ]))
df4 = df4.T
df4.columns = ['ID','RTR','DLC','Data'] 
df4.index = df4.index.rename('Timestamp')
df4

                ID  RTR DLC                              Data
Timestamp
1.481193e+09  0587  000   8  [00, 00, 00, 00, 00, 00, 00, 01]
1.481193e+09  0316  000   8  [05, 1c, 6a, 0a, 1c, 13, 00, 7f]
1.481193e+09  018f  000   8  [00, 21, 1c, 00, 00, 43, 00, 00]
1.481193e+09  0260  000   8  [05, 1c, 00, 30, ff, 93, 63, 35]
1.481193e+09  0080  000   8  [00, 17, 6a, 0a, 1c, 13, 1c, 1f]
...            ...  ...  ..                               ...
1.481193e+09  05e4  000   3                      [00, 02, 00]
1.481193e+09  0153  000   8  [00, 80, 10, ff, 00, ff, a0, 2e]
1.481193e+09  0165  000   8  [0e, d8, 7f, 00, 00, 00, 03, aa]
1.481193e+09  0220  000   8  [f4, 03, f7, 03, 0c, 00, 3a, 10]
1.481193e+09  02b0  000   5              [73, 00, 00, 07, 03]

[995472 rows x 4 columns]

In [90]:
df4.index.max()

1481193380.725113

In [91]:
df4.to_csv('/content/drive/My Drive/Colab Notebooks/CS581-TestResults/project-data/Impersonation_attack_dataset.csv')